@media (min-width: 375px) and (max-width: 768px) {
    body {
        margin: 0 20px;
    }
    nav {
        display: none;
    }

    .menu {
        display: block;
    }
    
    #hero_section {
        flex-direction: column;
        text-align: center;
        height: auto;
        margin-top: 40px;
        gap: 20px;
    }

    .hero_img img {
        /* margin-left: 80px; */
        height: 40vh;
        width: 60vw;
    }

    .buttons {
        justify-content: center;
        align-items: center;
    }

    .links {
        justify-content: center;
        align-items: center;
    }

    #about_section{
        margin-top: 80px;
        padding: 0 10px;
    }

    .about {
        flex-direction: column;
    }
    
    .about img {
        width: 100%;
        height: 30vh;
    }
    
    .info {
        flex-direction: column;
    }

    .experience {
        flex-direction: column;
    }

    .experience img {
        width: 100%;
        height: 30vh;
    }

    #projects {
        justify-content: center;
    }

    #projects .project {
        width: 90%;
    }



    .cont_links {
        flex-direction: column;
        padding: 20px;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        margin: 0 50px;
    }

    #hero_section {
        flex-direction: column;
        text-align: center;
        height: auto;
        margin-top: 40px;
    }

    .hero_img img {
        height: 30vh;
        width: 40vw;
    }

    .buttons {
        justify-content: center;
        align-items: center;
    }

    .links {
        justify-content: center;
        align-items: center;
    }


    #about_section{
        margin-top: 80px;
    }

    .about {
        flex-direction: column;
    }

    .about img {
        width: 100%;
        height: 30vh;
    }
    
    #experience_section {
        margin-top: 100px;
    }
    
    .experience {
        flex-direction: column;
    }

    .experience img {
        width: 100%;
        height: 30vh;
    }


}