@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@15&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #000;
    margin: 0 100px;
    font-family: "poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

.btn {
    border: 1px solid #000;
    outline: none;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}


/* heading */
#header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 9999;

    a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
    }

}

#nav ul {
    display: flex;
    gap: 40px;
    list-style-type: none;

    a {
        text-decoration: none;
        color: #000;
        font-weight: 600;
    }

    a:hover {
        border-bottom: 3px solid;
        padding-bottom: 3px;
    }
}


/* hero */
#hero_section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 100%;
    gap: 80px;
    margin: 40px 0;

    .hero_img {
        padding-left: 90px;
        img {
            height: 60vh;
            border-radius: 50%;
        }
    }

    .hero_info {
        display: flex;
        flex-direction: column;

        h2 {
            margin-bottom: 10px;
            font-size: 32px;
            font-weight: 600;
        }

        h4 {
            margin-bottom: 10px;
            font-size: 20px;
        }

        .buttons {
            margin-top: 10px;
            display: flex;
            gap: 20px;
            margin-bottom: 10px;

            a {
                text-decoration: none;
                color: #000;
                padding: 10px;
                font-weight: 600;
            }

            a:hover {
                color: #fff;
            }
        }

        .links {
            display: flex;
            gap: 20px;
            font-size: 30px;
            cursor: pointer;

            a {
                color: #000;
            }
        }
    }
}


/* About */
#about_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;

    .about {
        display: flex;
        margin: 40px 0;
        gap: 20px;
        
        .about_info {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .info {
                display: flex;
                gap: 20px;
                justify-content: center;
                
                .exp, .edu{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 30px;
                    border-radius: 20px;
                    border: 1px solid #000;

                    i {
                        font-size: 30px;
                    }
                }

            }
        }

    }

    img {
        height: 45vh;
        width: 35vw;
        border-radius: 20px;
    }
}


/* Experience */
#experience_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
    
    .experience {
        margin-top: 40px;
        display: flex;
        gap: 40px;

        img {
            height: 45vh;
            width: 35vw;
            border-radius: 20px;
        }

        .exp_info {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h3 {
                font-weight: 650;
            }

            p {
                margin-top: 10px;
            }
        }
    }
}

/* carousel */
#carousel {
    margin: 60px 0 90px 0;
    padding: 10px 0;
    display: flex;
    overflow-x: auto;
}

#carousel::-webkit-scrollbar {
    display: none;
} 

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    animation: spin 15s infinite linear;
    padding-right: 10px;
}

.card {
    width: fit-content;
    padding: 20px;
    height: 70px;
    border: 1px solid #b7b7b75f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    h5 {
        font-size: 25px;
        font-weight: 600;
    }

    img {
        height: 69px;
        padding: 10px 0;
    }
}

@keyframes spin {
    from {translate: 0;}
    to { translate: -100%;}
}


/* Projects */
#projects_section {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    align-items: center;

    #projects {
        /* width: 100%; */
        margin-top: 30px;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        align-items: center;

        .project {
            width: 20vw;
            height: 50vh;
            border: 1px solid #000;
            display: flex;
            flex-direction: column;
            padding: 20px 30px;
            border-radius: 20px;

            h2 {
                font-weight: 500;
            }

            .img {
                border: 1px solid #000;
                height: 30vh;
                border-radius: 10px;
                margin-bottom: 10px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }

            .pro_btn {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;

                a {
                    text-decoration: none;
                    color: #000;
                }

                a:hover {
                    color: #fff;
                }
                .btn {
                    font-size: 10px;
                    font-weight: 600;
                    padding: 5px 10px;
                    height: 25px;
                }
            }
        }
    }
}


/* Contact */
#contact_section {
    margin: 40px 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cont_links {
        margin-top: 30px;
        display: flex;
        gap: 30px;
        border: 1px solid #000;
        background-color: #dddddd3a;
        padding: 20px 40px;
        border-radius: 15px;
        
        a {
            text-decoration: none;
            color: #000;
        }
    }
}


/* Footer */
footer {
    margin: 80px 0 50px 0;
    display: flex;
    justify-content: center;
}
