* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    margin: 0 100px;
}

p {
    color: rgb(85, 85, 85);
}

.btn {
    border: 1px solid #000;
    outline: none;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}


/* Header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 99999;
}

#header a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}


#nav ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

#nav a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

#nav a:hover {
    border-bottom: 3px solid;
    padding-bottom: 3px;
}

.menu {
    display: none;
    font-size: 32px;
    cursor: pointer;
}

/* Mobile nav */
.mobile_nav {
    display: none;
    background: #fff;
    padding: 20px;
}

.mobile_nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mobile_nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}


/* Hero */
#hero_section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 80px;
}

.hero_img img {
    height: 60vh;
    border-radius: 50%;
}

.hero_info {
    display: flex;
    flex-direction: column;
}

.hero_info h2 {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 600;
}

.hero_info h4 {
    margin-bottom: 10px;
    font-size: 20px;
}

.buttons {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.buttons a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    font-weight: 600;
}

.buttons a:hover {
    color: #fff;
}

.links {
    display: flex;
    gap: 20px;
    font-size: 30px;
    cursor: pointer;
}
.links a {
    color: #000;
}


/* About */
#about_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}

.about {
    display: flex;
    margin-top: 40px;
    gap: 20px;
}

.about_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.exp, .edu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #000;
}

img {
    height: 45vh;
    width: 35vw;
    border-radius: 20px;
}



/* Experience */
#experience_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}

.experience {
    margin-top: 40px;
    display: flex;
    gap: 40px;
}

.experience img {
    height: 45vh;
    width: 35vw;
    border-radius: 20px;
}

.exp_info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
        font-weight: 650;
    }

    p {
        margin-top: 10px;
    }
}

/* carousel */
#carousel {
    margin: 60px 0 90px 0;
    padding: 10px 0;
    display: flex;
    overflow-x: auto;
}

#carousel::-webkit-scrollbar {
    display: none;
} 

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    animation: spin 15s infinite linear;
    padding-right: 10px;
}

.card {
    width: fit-content;
    padding: 20px;
    height: 70px;
    border: 1px solid #b7b7b75f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    h5 {
        font-size: 25px;
        font-weight: 600;
    }

    img {
        width: 70px;
        height: 69px;
        padding: 10px 0;
    }
}

@keyframes spin {
    from {translate: 0;}
    to { translate: -100%;}
}


/* Projects */
#projects_section {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    align-items: center;
}
#projects {
    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 30px;
    align-items: center;
}

#projects .project {
    width: 23%;
    height: 50vh;
    min-width: 250px;
    padding: 10px 20px;
    border: 1px solid #919191;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s ease;
    h2 {
        font-weight: 500;
    }
}

.img {
    border: 1px solid #000;
    height: 30vh;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}

.pro_btn {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: #000;
    }

    a:hover {
        color: #fff;
    }
    
    .btn {
        font-size: 10px;
        font-weight: 600;
        padding: 5px 10px;
        height: 25px;
    }
}


/* Contact */
#contact_section {
    margin: 40px 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cont_links {
        margin-top: 30px;
        display: flex;
        gap: 30px;
        border: 1px solid #000;
        background-color: #dddddd3a;
        padding: 20px 40px;
        border-radius: 15px;
        
        a {
            text-decoration: none;
            color: #000;
        }
    }
}


/* Footer */
footer {
    margin: 80px 0 50px 0;
    display: flex;
    justify-content: center;
}